# Основные зависимости
requests  # Библиотека для HTTP-запросов
SQLAlchemy  # ORM для работы с базами данных
psycopg2-binary  # Драйвер PostgreSQL для Python

# Инструменты для тестирования
pytest  # Фреймворк для тестирования
selenium  # Инструмент для автоматизации браузера
webdriver-manager  # Утилита для управления веб-драйверами
allure-pytest  # Плагин для интеграции Allure с pytest
faker  # Библиотека для генерации фейковых данных

# Линтеры и инструменты для анализа кода
flake8  # Линтер для проверки стиля кода